h2 Completamento ordine


p login/registrazione

p spedizione o selezione negozio

p pagamento



= link_to step3_path, class:'btn btn-default' do
  | BACK

= link_to confirmation_path, class:'btn btn-default' do
  | CONFERMA ORDINE