h2 Verifica pdf

p download template
p download foglio con margini
p relativi al formato/libro scelto


h4 Checklist da confermare:

p dimensione foglio

p qualita' foto

p dpi

p magini

p max MB File

= link_to step1_path, class:'btn btn-default' do
  | BACK

= link_to step3_path, class:'btn btn-default' do
  | UPLOAD FILES