.container
  h2 Seleziona modello



p Form selezione


p totale

p quantita'

p spedizione

p totale ordine

p data consegna prevista



= link_to step2_path, class:'btn btn-default' do
  | VERIFICA PDF